*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(#9503fd0e,#00aefe0a);
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Start Here div1*/
.div1{
    height: 700px; 
    background-image: url(Assets/Hero-bg.png);
    background-size:contain;
    background-color: #ffffff;
}

nav{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

#logo{
    font-size: 34px;
    font-weight: 900;
    line-height: 150%;
    color: rgba(78, 71, 255, 1);
}


.inter-div1{
    width: 905px;
    height: 375px;
    text-align: center;
    margin: auto;
    padding-top:158px ;
}
.all-button{
     height: 48px;
     width: 132px;
     color: white;
     background-color: #3129fb;
     border-radius: 10px;
     border: none;
}

.all-button:hover{
    transition: 1s;
    color: black;
    background-color: rgba(221, 16, 26, 0.867);
    cursor: pointer;
}


#p1{
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}

.all-button2{
     height: 48px;
     width: 174px;
     color: white;
     background-color: #3129fb;
     border-radius: 10px;
     margin-top: 50px;
     border: none;
}
.all-button2:hover{
    transition: 1s;
    color: black;
    background-color: rgba(221, 16, 26, 0.867);
    cursor: pointer;
}


/* See Action Part */
.container1{
  width: 1500px;
  height: 330px;

  margin: 100px auto;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.head-title-container{
    width: 517px;
    height: 203px;
    text-align: left;
}


#head-title{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}

#head-image{
    border-radius: 40px;
}

#all-paragraph{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #25243250;
}

.all-button3{
     height: 48px;
     width: 230px;
     color: white;
     background-color: #3129fb;
     border-radius: 10px;
     margin-top: 30px;
     border: none;
}
.all-button3:hover{
    transition: 1s;
    color: black;
    background-color: rgba(221, 16, 26, 0.867);
    cursor: pointer;
}

.title-1{
    margin-bottom: 20px;
}


/* Productive users */
.container2{
  width: 1200px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  padding: 70px 150px;
  background-color: #4d47ff25;
  border-radius: 24px;
}

.how-many{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

#title2{
    margin-top: 50px;
}

.number, h2{
   font-size: 80px;
   font-weight: 700;
   color: #4E47FF;
}
.number,p{
    color: #00000050;
    font-size: 20px;
    font-weight: 400;
}

/* ready to focus */
.container3{
  width: 1200px;
  height: 700px;
  margin: 100px auto;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  padding: 70px 150px;
  border-radius: 14px;
}

#head-title2{
    font-size: 50px;
    font-weight: 700;
    color: #252432;
}

.container-taitle ,h3 ,p ,button{
    margin-bottom: 20px;
}



/* What our users */
.container4{
  width: 1200px;
  height: 345px;
  margin: 100px auto;
  text-align: center;
  align-items: center;
  padding: 70px 150px;
}

.user-card{
    width: 366px;
    height: 210px;
    border: 2px solid #F2EDED;
    background-color: #ffffff97;
    border-radius: 14px;
    text-align: left;
    padding: 24px;
   
}

#card-h3{
    font-size: 24px;
    line-height: 120%;
    margin-top: 25px;
}

#card-para{
    color: #1e1e1e;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}

.user-card-image{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
    margin-top: 25px;
}
#avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.image-detail ,h3 ,p{
    margin-bottom: 2px;
}

.user-card-container{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}


/* input section */
.container5{
  width: 1500px;
  height: 630px;
  margin: 100px auto;
  padding: 71px 0px;
  text-align: center;
  align-items: center;
  border: 2px solid black;
  display: flex;
  gap: 550px;
}

#head-title3{
  font-size: 97px;
  font-weight: 700;
  line-height: 120%;
  color: #000000;
}

.contact-2{
    display: block;
    text-align: left;
}

input[type="text"], input[type="email"]{
 padding: 20px;
 margin-bottom: 25px;
 margin-top: 15px;
 width: 500px;
 border: none;
 border-radius: 5px;
}

textarea{
 width: 500px;
 border: none;
 color:#757575;
 height: 250px;
 margin-bottom: 25px;
margin-top: 15px;
 padding: 20px;
 border-radius: 5px;
}

.all-button4{
     height: 62px;
     width: 540px;
     color: white;
     background-color: #3129fb;
     border-radius: 10px;
     margin-top: 30px;
     border: none;
   
}
.all-button4:hover{
    transition: 1s;
    color: black;
    background-color: rgba(221, 16, 26, 0.867);
    cursor: pointer;
}



/* Footer */
.div2{
    height: 430px; 
    background-size:contain;
    background-color: #ffffff;
    border: 2px solid black;
}